name: Release
on:
  push:
    branches:
    - master
jobs:
  create-release:
    runs-on: arvato
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Important for tags
    - name: Calculate new version
      run: |
        echo "version=$(bash .github/workflows/calculate-version.sh)" >> $GITHUB_ENV
    - name: Create Git tag
      run: |
        git tag ${{ env.version }}
        git push origin ${{ env.version }}
    - name: Create GitHub Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.version }}
        release_name: Release ${{ env.version }}
        draft: false
        prerelease: false
